.git
.gitignore
.env
.env.example
.github
.idea
.vscode
node_modules
vendor
storage/*.key
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/app/public/*
database/database.sqlite
database/*.sqlite
database/*.backup
tests
docker-compose.yml
docker-compose.prod.yml
Dockerfile
