services:
  app:
    image: ghcr.io/elias-cj/sisprestamossqlite:latest
    restart: unless-stopped
    volumes:
      - ./.env:/var/www/.env
      - ./database:/var/www/database
      - ./storage:/var/www/storage
    environment:
      TZ: ${TZ:-UTC}
    networks:
      - laravel-network

  webserver:
    image: nginx:alpine
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./docker/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - laravel-network

  watchtower:
    image: containrrr/watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --interval 30 --cleanup
    networks:
      - laravel-network

networks:
  laravel-network:
    driver: bridge
